deps_dirs:
  - "deps/*"
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "src"
  - "_build/default/lib"
lenses:
  enabled:
    - ct-run-test
    - show-behaviour-usages
    - function-references
providers:
  enabled:
    - signature-help
    - document-range-formatting
    - document-on-type-formatting